{% extends "parent.html" %}

{% block title %}
	Your Channel
{% endblock %}


{% block body %}
	<div class="video_area">
		<div class="ad_area">
			<h1>Streaming happening</h1>
			<!-- recent videos for each we render a block -->
			{% for stream in most_recent_streams %}
				{#			<div class = "video_advertisement col-md-6" div onclick="location.href='/video/{{ video.id }}/{{ 1 }}/';" style="cursor: pointer;>#}
				<div class = "video_advertisement col-md-6">

					<div class="video_description" div onclick="location.href='/streaming/watch_stream/{{ stream.id }}/';" style="cursor: pointer;">
						<img src="{{ stream.thumb_path }}" alt="hahaha" style='height: 100%; width: 100%; object-fit: contain'/>
					</div>
					<div class="video_title">
						<h2 align="center" style="font-family: Courier New">{{ stream.title }}</h2>
					</div>
					{#				<div class="watch_now">#}
					{#				<a href="#" ></a>#}
					{#				<a href="/video/{{ video.id }}/{{ 1 }}/" class="fill-div"></a>#}
					{#				</div>#}
				</div>
			{% endfor %}

		</div>
	</div>



{% endblock body %}
